.table-view { -fx-font-size: 16pt; }
.default-color0.chart-pie { -fx-pie-color: red; }
.default-color1.chart-pie { -fx-pie-color: green; }
.default-color2.chart-pie { -fx-pie-color: yellow; }
.default-color0.chart-bar { -fx-bar-fill: green; }


